@import "tailwindcss";
@tailwind utilities;


@theme {
    --color-profissional-blue-50: #4888D7;
    --color-profissional-blue-100: #256ABE;
    --color-profissional-blue-200: #003A81;
    --color-profissional-blue-300: #00357D;
    --color-profissional-blue-400: #002C68;
    --color-profissional-blue-500: #002353;
    --color-cinza: #333;
    --breakpoint-3xl: 112rem;
}



body {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}